.App {
  text-align: center;
  display: grid;
  grid-template-columns: 40% 50%;
}


ul {
  list-style: none;
}

.showHobbies {
  margin-top: 12px;
}

.users{
  text-align: left;
  height: 80%;
  overflow-y: auto;
}

.list {
  border-style: solid;
  /*border: none;*/
  border-width: thin;
  outline: none;
  /*padding: 10px 16px;*/
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 12px;
}

.table{
  border-style: solid;
  /*border: none;*/
  border-width: thin;
  outline: none;
  /*padding: 10px 16px;*/
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 20px;
}

/* Style the active class, and buttons on mouse-over */
.active, .list:hover {
  background-color: #666;
  color: white;
}